body {
  background-image: url('./jungle.jpg');
  background-repeat: no-repeat;

}


.App {
  text-align: center;
  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fight {
  display: flex;
  background-color: rgba(240, 248, 255, 0.383);
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 80%;
  border-radius: 30px;
}
.fighter {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  padding-bottom: 10px;
}
button {
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
